* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(46, 62, 78);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.menu {
  background: rgb(32, 72, 87);
  width: 80%;
  margin: 30px auto;
  display: flex;
  border-radius: 5px;
}
.menu li {
  position: relative;
}
.menu li a {
  display: block;
  padding: 7px 15px;
  border-radius: 5px;
}
.menu > li:hover > a {
  background: rgb(255, 132, 0);
}
.menu ul {
  position: absolute;
  width: 150px;
  background: rgb(8, 161, 250);
  display: none;
}
.menu ul ul {
  left: 100%;
  top: 0;
}
.menu ul li a {
  border-bottom: 1px solid #fff;
  border-radius: 0;
}
.menu ul li a:hover {
  background: rgb(255, 132, 0);
}
.menu li:hover > ul {
  display: block;
}
